div.chat-window
	div.chat-window_message-field(*ngIf="chat")
		textarea(
			[(ngModel)]="message",
			(keydown) = "onKeydown($event)"
		)
		i.material-icons.chat-window_go((click)="sendMsg()")
			|	send

	ul.chat-window_messages(*ngIf="chat && chat.length")
		li(
			*ngFor="let msg of chat.slice().reverse()",
			[class.partner-msg]="msg.userName !== currentUserName"
		)
			div.chat-window_message
				span.chat-window_message-username
					| {{ msg.userName }}
				span.chat-window_message-text
					| {{ msg.text }}

	i.material-icons.chat-window_ico-empty(*ngIf="!chat")
		|	question_answer
