.chat-window
	width: calc(65% - 1px);
	float: left;
	height: calc(100% - 52px);
	position: relative;

	&_ico-empty
		font-size: 50px;
		position: absolute;
		left: calc(50% - 25px);
		top: calc(50% - 25px);

	&_message-field
		height: 87px;
		border-bottom: 1px solid lightgrey;
		padding: 10px;
		position: relative;

		textarea
			width: 90%;
			height: 100%;
			resize: none;
			outline: none;
			border-radius: 2px;
			border: 1px solid lightgray;

			&:focus
				border: 1px solid #1976D2;

	&_go
		position: absolute;
		font-size: 40px;
		cursor: pointer;
		right: 17px;
		top: 23px;
		color: #1976D2;

	&_messages
		display: block;
		margin: 5px 0 0;
		padding: 0;
		list-style: none;
		overflow-y: auto;
		height: calc(100% - 92px);

		li
			display: block;
			padding: 5px 10px;

		&.partner-msg
			text-align: right;

	&_message
		padding: 5px 10px;
		display: inline-block;
		background: #fafafa;
		border: 1px solid lightgray;
		border-radius: 2px;

		&-username
			display: block;
			margin-bottom: 4px;
			font-weight: bold;

		&-text
			display: block;
