.sign-in
	margin 0 auto
	width 400px
	background #fff
	border-radius 5px
	padding 10px
	box-shadow 0 2px 5px 0 rgba(0,0,0,0.5)
	position relative
	top 50px

	&_form
		margin-top 20px

		input
			font-size: 1rem;
			color: #757575;
			background-color: #fafafa;
			padding: .25em;
			border: 1px solid lightgray;
			border-radius: 2px;
			outline: none;
			width: 100%;
			margin-bottom: 5px;

			&:focus
				border: 1px solid #1976D2;

			&.invalid
				border: 1px solid #dd0031;

		button
			display: inline-block;
			width: 186px;
			text-align: center;
			border-radius: 2px;
			border: 0;
			background: #1976D2;
			color: #fff;
			padding: 0.45em;
			transition: all .2s;
			cursor: pointer;

			&:hover
				background: #0c65bd

			&:last-child
				margin-left: 5px

			&[disabled]
				cursor: no-drop;

			&[disabled]:hover
				background: #1976D2

	&_buttons
		white-space: nowrap;

	&_error
		margin-bottom: 5px;
		color: #dd0031;
		padding: 0.25em 0;

