div.sign-in
  h2 Welcome to forest chat
  h2 Please, input your credential

  form.sign-in_form
    input(
      type="text",
      name="login",
      [(ngModel)] = "login",
      placeholder="Login",
      required
    )
    div.sign-in_error([hidden]="isNotLoginDublicate")
      | This login already exist
    div.sign-in_error([hidden]="isLoginValid")
      | Incorrect login
    input(
      type="password",
      name="password",
      [(ngModel)] = "password",
      placeholder="Password",
      required
    )
    div.sign-in_error([hidden]="isPasswordValid")
      | Incorrect password
    div.sign-in_buttons
      button(
        [disabled]="isCredsEmpty",
        (click)="registration()"
      )
       | Registration
      button(
        [disabled]="isCredsEmpty",
        (click)="authorization()"
      )
        | Authorization