.chat_current-user
	padding: 10px;
	border-bottom: 1px solid lightgray;
	overflow: hidden;

	button
		display: block;
		text-align: center;
		border-radius: 2px;
		border: 0;
		background: #1976D2;
		color: #fff;
		padding: 0.45em;
		transition: all .2s;
		cursor: pointer;
		float: right;

		&:hover
			background: #0c65bd

	span
		font-size: 1.5rem;
		font-weight: bold;
