.users-list
	width: 35%;
	float: left;
	border-right: 1px solid lightgray;
	height: calc(100% - 52px);
	overflow-y: auto;

	ul
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;

	&_item
		padding: 10px 10px 10px 44px;
		display: block;
		border-bottom: 1px solid lightgray;
		transition: all .2s;
		cursor: pointer;
		position: relative;

		&:hover
			background: #fafafa;

		&.current
			color: #fff;
			background: #1976D2;

			&:hover
				background: #1976D2;

		&[hidden]
			display: none

		&-ico
			position: absolute;
			left: 10px;
			top: 7px;

	&_search
		padding: 10px;
		border-bottom: 1px solid lightgray;
		position: relative;

		.material-icons
			position: absolute;
			right: 15px;
			top: 13px;

		input
			font-size: 1rem;
			color: #757575;
			background-color: #fafafa;
			padding: .25em 34px .25em .25em;
			border: 1px solid lightgray;
			border-radius: 2px;
			outline: none;
			width: 100%;

			&:focus
				border: 1px solid #1976D2;