div.users-list
	div.users-list_search
		input(
			type="text",
			name="userSearch",
			placeholder="Input user name",
			[(ngModel)] = "userSearch"
		)
		i.material-icons
			| search

	ul
		li(
			class="users-list_item",
			*ngFor = "let user of users | usersSearchFilter:userSearch",
			[hidden] = "user.login === currentUser.login",
			(click) = "chooseChat(user.login)",
			[ngClass] = "{current: user.login === chatPartnerLogin}"
		)
			i.material-icons.users-list_item-ico
				| face
			| {{ user.login }}