doctype html
html
	head
		base(href="/")
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Angular 2 chat

		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
	body
		app
			|	Loading...