*
	box-sizing border-box
body
	margin 0
	padding 0
	font-family 'Roboto', Arial, Helvetica, sans-serif
	font-size 14px
	height 100vh
	color #757575
	background url('./app/img/forest.jpg') 50% 50%
	background-size cover
h2
	font-size 1.5rem
	margin 0 0 10px 0